
// Default root of reference database.
reference_db = "/shared/reference-database/genomes/ensembl/release-102/homo_sapiens/GRCh38"

// Default parameters.
params {
    dataset_name = null
    fastq_directory = null
    output_directory = null
    reference_fasta = "${reference_db}/fasta/reference.fa.gz"
    reference_gtf = "${reference_db}/gtf/reference.gtf.gz"
    salmon_index = "${reference_db}/salmon-index"
    star_index = "${reference_db}/star-index"
    rsem_reference = "${reference_db}/rsem-reference"
    reference_refFlat = "${reference_db}/gtf/reference.refFlat"
    rRNA_interval_list = "/shared/reference-database/genomes/rseqc/hg38_rRNA.interval_list"
    multiqc_config = "${projectDir}/multiqc_config.yml"
    logo = "${projectDir}/logo.png"
}

// Execution profiles.
profiles {

    // bioinformatics server, EC2 instance 10.122.5.90
    bio {
        workDir = '/efs/nextflow-working'
        process {
            executor = 'local'
            cpus = 16
            memory = '60GB'
        }
    }

    // grid engine cluster, head node biohead-2.gatesmri.site
    sge { 
        workDir = '/shared/nextflow-working'
        process {
            executor = 'sge'
            penv = 'smp'
            clusterOptions = '-S /bin/bash'
            cpus = 16
            memory = '60GB'
        }
    }

    // Docker environment
    docker {
        process.container = "liameabbott/bulk-rna-seq-pipeline"
        docker.enabled = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"
    }
}

// Credentials to access AWS S3 bucket.
aws {
    accessKey = 'AKIA4N6XKSANMF2PE4FB'
    secretKey = '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'
    region = 'us-east-1'
}
