
params {
    // REQUIRED
    dataset_name = null
    fastq_directory = null
    output_directory = null
    
    // OPTIONAL (DATABASE FILES)
    reference_db = "/efs/reference-database"
    reference_genome = "ensembl.102.homo_sapiens.GRCh38"
    reference_fasta = "${params.reference_db}/${params.reference_genome}.fa.gz"
    reference_gtf = "${params.reference_db}/${params.reference_genome}.gtf.gz"
    salmon_index = "${params.reference_db}/${params.reference_genome}.salmon_index"
    star_index = "${params.reference_db}/${params.reference_genome}.star_index"
    rsem_reference = "${params.reference_db}/${params.reference_genome}.rsem_reference"
    reference_refFlat = "${params.reference_db}/${params.reference_genome}.refFlat"
    rRNA_interval_list = "${params.reference_db}/rseqc/hg38_rRNA.interval_list"
    
    // OPTIONAL (CONFIG FILES)
    multiqc_config = "${projectDir}/multiqc_config.yml"
    logo = "${projectDir}/logo.png"
}
    
executor {
    $slurm {
        queueSize = 10000
        pollInterval = "5 min"
        dumpInterval = "6 min"
        queueStatInterval = "5 min"
        exitReadTimeout = "13 min"
        killBatchSize = 30
        submitRateLimit = "20 min"
    }
    $local {
        queueSize = 2
        cpus = 16
        memory = "64GB"
    }
}


profiles {

    // bio-dev server (10.122.5.90)
    bio {
        workDir = "/efs/.nextflow-working"
        process {
            executor = "local"
            cpus = 16
            memory = "64GB"
        }
    }

    // slurm cluster (head node 10.122.4.136)
    slurm {
        workDir = "/efs/.nextflow-working"
        process {
            executor = "slurm"
            // small partition machines (2 CPUs, 16GB RAM)
            withLabel: sml {
                cpus = 2
                clusterOptions = "--partition sml --nodes 1 --exclusive --time 24:00:00"
            }
            // medium partition machines (4 CPUs, 32GB RAM)
            withLabel: med {
                cpus = 4
                clusterOptions = "--partition med --nodes 1 --exclusive --time 24:00:00"
            }
            // large partition machines (8 CPUs, 64GB RAM)
            withLabel: lrg {
                cpus = 8
                clusterOptions = "--partition lrg --nodes 1 --exclusive --time 24:00:00"
            }
        }
    }

    // conda environment
    conda {
        process.conda = "/shared/software/anaconda3/envs/bulk-rna-seq-pipeline"
    }

    // docker environment
    //docker {
    //    process.container = ...
    //    docker.enabled = true
    //    docker.runOptions = "-u \$(id -u):\$(id -g)"
    //}

    test {
        params {
            dataset_name = "test"
            fastq_directory = "${projectDir}/test/fastqs"
            output_directory = "${projectDir}/test/output"
        }
    }
}

