
// Default parameters.
params {
    dataset_name = null
    fastq_directory = null
    output_directory = null
    reference_db = "/shared/reference-database/genomes/ensembl/release-102/homo_sapiens/GRCh38"
    reference_fasta = "${params.reference_db}/fasta/reference.fa.gz",
    reference_gtf = "${params.reference_db}/gtf/reference.gtf.gz",
    salmon_index = "${params.reference_db}/salmon-index",
    star_index = "${params.reference_db}/star-index",
    rsem_reference = "${params.reference_db}/rsem-reference",
    rRNA_interval_list = "/shared/reference-database/genomes/rseqc/hg38_rRNA.interval_list"
    multiqc_config = "${projectDir}/multiqc_config.yml"
    logo = "${projectDir}/logo.png"
}

// Execution profiles.
profiles {

    // bioinformatics server, EC2 instance 10.122.5.90
    bio {
        workDir = '/efs/nextflow-working'
        docker {
            enabled = false
            runOptions = '-u \$(id -u):\$(id -g)'
        }
        process {
            executor = 'local'
            cpus = 16
            memory = '60GB'
            container = 'liameabbott/bulk-rna-seq-pipeline'
        }
    }

    // grid engine cluster, head node biohead-2.gatesmri.site
    sge { 
        workDir = '/efs/nextflow-working'
        docker {
            enabled = false
            runOptions = '-u \$(id -u):\$(id -g)'
        }
        process {
            executor = 'sge'
            penv = 'smp'
            clusterOptions = '-S /bin/bash'
            cpus = 16
            memory = '60GB'
            container = 'liameabbott/bulk-rna-seq-pipeline'
        }
    }   
}

// Credentials to access AWS S3 bucket.
aws {
    accessKey = 'AKIA4N6XKSANMF2PE4FB'
    secretKey = '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'
    region = 'us-east-1'
}
